@import "variables";

.typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    position: fixed;
    font-size: clamp(3rem, 3vw, 5rem);
    font-family: "Montserrat", monospace;
    padding-bottom: 5rem;
    width: max-content;
  }

  h1::after {
    content: "";
    border-right: .15em solid white;
    animation: blink 750ms infinite alternate;
  }
}
