@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
.typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter h1 {
  font-size: clamp(3rem, 3vw, 5rem);
  font-family: "Montserrat", monospace;
  width: max-content;
}

.typewriter h1::after {
  content: "";
  border-right: .15em solid white;
  animation: blink 750ms infinite alternate;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateBlurIn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    filter: invert(27%) sepia(51%) saturate(2818%) hue-rotate(270deg) brightness(104%) contrast(97%);
    transform: rotate(360deg);
  }
}

@keyframes rotateBlurOut {
  0% {
    filter: invert(27%) sepia(51%) saturate(2818%) hue-rotate(270deg) brightness(104%) contrast(97%);
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  color: white;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(90deg, #1d193b 50%, #7b0ac8 100%);
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0;
  animation: fadeInUp 2s ease 6s;
  padding: 0 0 2.5rem 0;
  margin: 0;
}

.github-logo {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px black;
  max-width: 50vw;
  max-height: 50vh;
  width: 170px;
  height: 170px;
  filter: invert(100%);
  opacity: 0;
  animation: fadeInUp 2s ease 6s;
}

.after-anim {
  animation: none;
  opacity: 1;
}

.after-anim.github-logo.mouseOutGithub {
  animation: rotateBlurOut 700ms;
}

.after-anim.github-logo:hover {
  animation: rotateBlurIn 700ms forwards;
}

@media only screen and (max-width: 800px) {
  .github-logo {
    width: 130px;
    height: 130px;
  }
}
