@import "./sass/typewriter";
@import "./sass/variables";
@import "./sass/animations";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

  body {
    color: white;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $bgColor;
  }

  .subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    @include fadeInUp();
    padding: 0 0 2.5rem 0;
    margin: 0;
  }

  .github-logo {
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px black;
    max-width: 50vw;
    max-height: 50vh;
    width: 170px;
    height: 170px;
    filter: invert(100%);
    @include fadeInUp();
  }

  .after-anim {
    animation: none;
    opacity: 1;
  }

  .after-anim.github-logo.mouseOutGithub {
    animation: rotateBlurOut 700ms;
  }

  .after-anim.github-logo:hover {
    animation: rotateBlurIn 700ms forwards;
  }

  @media only screen and (max-width: 800px) {
    .github-logo {
      width: 130px;
      height: 130px;
    }
  }